<div class="container mt-4 mb-4" style="width: 500px;">
    <h2>Ingrese Producto</h2>
    <form class="mt-4" >
        <div class="mb-3">
            <label for="title" class="form-label">Title</label>
            <input type="text" class="form-control" name="title" id="title" required>
        </div>
        <div class="mb-3">
            <label for="price" class="form-label">Price</label>
            <input type="number" class="form-control" name="price" id="price" required>
        </div>
        <div class="mb-3">
            <label for="thumbnail" class="form-label">Thumbnail (url)</label>
            <input type="text" class="form-control" name="thumbnail" id="thumbnail" required>
        </div>
        <button id="btnGuardar" class="btn btn-primary">Guardar</button>
    </form>

</div>



