<div class="container mt-4 mb-4" style="width: 500px;">
    <div class="alert alert-info" style=" display: flex " role="alert">
       <span style=" width : 80% " >Bienvenido/a! <%= nombre %> </span>
       <button type="button" class="btn btn-warning" onclick="location.href='/logout'">Log out</button>
    </div>
</div>