<!doctype html>
<html lang="es">
    <head>
        <%-include('../partials/head.ejs')%>
    </head>


    <body>
        <div class="container mt-4 mb-4" style="width: 500px;">
            <h2>Crear Cuenta</h2>

            <form class="mt-4" action="/register" method="post" enctype="multipart/form-data">

                <div class="mb-3">
                    <label for="nombre" class="form-label">Ingrese nombre</label>
                    <input type="text" class="form-control" name="nombre" id="nombre" required>
                </div>

                <div class="mb-3">
                    <label for="direccion" class="form-label">Ingrese direccion</label>
                    <input type="text" class="form-control" name="direccion" id="direccion" required>
                </div>

                <div class="mb-3">
                    <label for="edad" class="form-label">Ingrese edad</label>
                    <input type="number" class="form-control" name="edad" id="edad" required>
                </div>

                <div class="mb-3">
                    <label for="edad" class="form-label">Ingrese telefono</label>
                    <input type="tel" class="form-control" name="telefono" id="telefono" required>
                </div>

                <div class="mb-3">
                    <label for="name" class="form-label">Ingrese email</label>
                    <input type="email" class="form-control" name="email" id="email" required>
                </div>

                <div class="mb-3">
                    <label for="photo" class="form-label">Seleccione foto de perfil</label>
                    <input type="file" class="form-control" name="photo" id="photo" required>
                </div>

                <div class="mb-3">
                    <label for="password" class="form-label">Ingrese contraseña</label>
                    <input type="password" class="form-control" name="password" id="password" required>
                </div>

                <button id="btnRegister" class="btn btn-success">Registrar</button>

            </form>

            <br/>

            <button id="goToLogin" class="btn btn-success" onclick="location.href='/login'">Ir a inicio de sesion</button>

        </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2" crossorigin="anonymous"></script>
    </body>
</html>